/* You can add global styles to this file, and also import other style files */

$font-family: "Source Sans Pro", sans-serif;

body,
html {
	font-family: $font-family;
	color: #1e282c;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	overflow-x: hidden;
	background: white;
}

input[type="text"],
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family;
}

button {
	cursor: pointer;
}

* {
	outline: none !important;
	box-sizing: border-box;
}
